/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* CSS variables */
:root {
    /* Fonts */
    --primary-font: "Passion One", sans-serif;
    --secondary-font: "Roboto Mono", monospace;
    --body-font: "Titillium Web", sans-serif;

    /* Colors */
    --primary-color: #210F4A; /*Dark purple*/
    --secondary-color: #5ACAF7; /*Blue*/
    --third-color: #D68AD5; /*Pink*/
    --fourth-color: #3E117E; /*Purple*/
    --fifth-color: #FFFFFF; /*White*/
    --sixth-color: #000000; /*Black*/
}

/* Global styles */

body {
    font-family: var(--body-font);
    color:#FFFFFF;
    background-color: var(--primary-color);
}

h1 {
    font-family: var(--primary-font);
    color: var(--fifth-color);
    font-size: 60px;
}

h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

#h3-footer {
    color: var(--secondary-color)
}

.section {
    padding-top: 150px; /*prevents the navbar to overlap the main content*/
}

/* Buttons */
.button-full {
    background-color: var(--fourth-color);
    Border: 2px solid var(--secondary-color);
    color: var(--secondary-color)
}

/* Navbar style */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logotype {
    height: 65px;
}

/* Card styling */

.card {
    margin-bottom: 1.5rem;
}

/* Footer styles */
footer {
    border-top: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

#contant-img {
    max-height: 10px;
}

#copyright {
    background-color: #5ACAF7;
    color: #210F4A;
}

#contact_img {
    max-height: 150px;
    width: auto;
}

.social-links {
    color: #FFFFFF;
}

/* Media queries starts here */

/* Medium devices (768px and up) */
@media screen and (min-width:768px) {
    /* Makes the cards the same height */
    .card-body {
        min-height: 190.52px; 
    }
}